.nav-section {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid red;
}

.nav-button {
  padding: 0 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.side-nav-section {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  /* animation: 3s ease-out 0s 1 slideInFromTop; */
  color: grey;
  border: 1px solid lightgrey;
  background-color: whiteSmoke;
  /* animation: 3s ease-out 0s 1 slideInFromTop; */
}

.side-nav-button {
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}
