<div class="navigation" *ngIf="getIsDesktopScreen()">
  <nav class="navigation-container nav-section">
    <div class="nav-button" routerLink="/">Indsamlinger</div>
    <div class="nav-button" routerLink="/about">Om siden</div>
  </nav>
</div>
<div
  *ngIf="!getIsDesktopScreen() && getIsSideNavigation()"
  class="side-navigation-container side-nav-section"
>
  <nav>
    <div class="side-nav-button" routerLink="/" (click)="setIsSideNavigation()">
      Login
    </div>
    <div
      class="side-nav-button"
      routerLink="/projects"
      (click)="setIsSideNavigation()"
    >
      Indsamlinger
    </div>
    <div
      class="side-nav-button"
      routerLink="/about"
      (click)="setIsSideNavigation()"
    >
      Om siden
    </div>
  </nav>
</div>
