.navigation {
  border-bottom: 1px solid lightcoral;
  border-top: 1px solid lightcoral;
}

.navigation-container {
  display: flex;
  padding: 1rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-button {
  margin-right: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.side-navigation-containter {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  /* animation: 3s ease-out 0s 1 slideInFromTop; */
  color: grey;
  border: 1px solid lightgrey;
  background-color: whiteSmoke;
  /* animation: 3s ease-out 0s 1 slideInFromTop; */
}

.side-nav-button {
  border-bottom: 1px solid lightgrey;
  padding: 1.5rem 0;
  font-size: large;
  cursor: pointer;
}
