html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: grey;
  background-color: whitesmoke;
}
.header {
  background-color: white;
  padding-top: 0.5rem;
  margin-bottom: 0;
}
.main {
  max-width: 1200px;
  background-color: white;
  padding: 1rem;
  margin: auto;
  text-align: center;
}


/* Angular material:
XSmall	(max-width: 599.98px)
Small	(min-width: 600px) and (max-width: 959.98px)
Medium	(min-width: 960px) and (max-width: 1279.98px)
Large	(min-width: 1280px) and (max-width: 1919.98px)
XLarge	(min-width: 1920px)
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.link {
  cursor: pointer;
}

a {
  color: lightcoral;
}

li {
  padding: 0.5rem;
}



