<div class="header-container">
  <div class="header-content icon link" routerLink="/">
    <mat-icon>{{ homeIcon }}</mat-icon>
  </div>
  <h1 class="header-content link" routerLink="/">{{ title }}</h1>
  <div style="display: flex" class="header-content">
    <div
      style="margin-right: 0.5rem"
      class="icon icon-button"
      (click)="setIsFilter()"
    >
      <mat-icon>{{ searchIcon }}</mat-icon>
    </div>
    <div
      class="icon link"
      *ngIf="!getIsDesktopScreen()"
      (click)="setIsSideNavigation()"
    >
      <mat-icon>{{ menuIcon }}</mat-icon>
    </div>
  </div>
</div>
